<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" /> 
    <script src="./js/main.js"></script>
    <title>Weather App</title>
</head>
<body>
    {{>header}}
    <div class="main-section-body">
        <section class="section-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam odit tempore! Doloribus quod, autem tempore illo architecto asperiores hic magnam voluptatem tenetur molestiae nostrum aperiam! Dolore cum autem nemo officiis aspernatur provident qui, a, dolorem ullam necessitatibus aliquam modi consectetur quibusdam quidem voluptatum?
        </section>
    </div>
        {{>footer}}
    
    
</body>
</html>